@import 'tailwindcss';

@font-face {
    font-family: 'Frontis';
    src: local('Frontis DemiBold'), local('Frontis-DemiBold'),
        url('./assets/fonts/Frontis-DemiBold.woff2') format('woff2'),
        url('./assets/fonts/Frontis-DemiBold.woff') format('woff'),
        url('./assets/fonts/Frontis-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@layer base {
  h1 {
    font-size: var(--text-8xl);
    font-weight: 700;
    font-family: 'Frontis';
    color: var(--color-accent);
  }
  h2 {
    font-size: var(--text-5xl);
    font-weight: 700;
    font-family: 'Frontis';
    color: var(--color-accent);
  }
  h3 {
    font-size: var(--text-5xl);
    font-weight: 700;
    font-family: 'Frontis';
    color: var(--color-accent);
  }
  .frontis-font {
    font-family: 'Frontis';
  }
  .frontis-font-label span:nth-child(1) {
    font-family: 'Frontis';
  }
  span {
    font-size: var(--text-xl);
  }
}

@theme {
  --color-primary: #f5d2d0;
  --color-accent: #745648;
}

