@import 'tailwindcss';

@layer base {
  h1 {
    font-size: var(--text-2xl);
    font-weight: 700;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: 700;
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: 700;
  }
}

@theme {
  --color-primary: #e7cee3;
  --color-secondary: #e0e1e9;
  --color-accent: #ddfdfe;
}

@layer utilities {
  /* Gradients between main colors */
  .bg-gradient-primary-secondary {
    @apply bg-gradient-to-b from-primary to-secondary;
  }
  .bg-gradient-secondary-accent {
    @apply bg-gradient-to-b from-secondary to-accent;
  }
  .bg-gradient-accent-secondary {
    @apply bg-gradient-to-b from-accent to-secondary;
  }
}
