@import 'tailwindcss';

@layer base {
  h1 {
    font-size: var(--text-2xl);
    font-weight: 700;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: 700;
  }
  h3 {
    font-size: var(--text-lg);
    font-weight: 700;
  }
}
